.content {
	background-color: #E5E7EB;
}

.header {
	position: sticky;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1000;
}

.nav {
	&__list {
		display: flex;
	}

	&__list-item {
		width: 33.33333%;
		text-align: center;
		font-weight: bold;
		font-size: 0.75rem;
		letter-spacing: 0.26em;
		text-transform: uppercase;

		@include at-break($break--medium) {
			width: 14.2857%;
		}

		a {
			padding: 0.875rem 0.75rem;
			display: block;
		}

		&--work a {
			color: #fff;

			&:hover {
				color: $cFountain;
			}
		}

		&--resume a {
			color: $cRiver;

			&:hover {
				background-color: #fff;
			}
		}
		
		&--contact a {
			color: #fff;

			&:hover {
				color: $cRiverDark;
			}
		}
	}
}


@keyframes stevestilesAnimate {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}


.hero {
	background-color: $cRiver;
	width: 100%;
	height: 20rem;
	position: relative;
	overflow: hidden;

	@include at-break($break--small) {
		height: 33.75rem;
	}


	&__title {

		position: absolute;
		top: 50%;
		left: 50%;
		animation: 1s ease-in-out 2s 1 stevestilesAnimate;
		transform: translate(-48%, -50%);
		font-size: 3.5rem;
		letter-spacing: -0.2rem;
		color: #fff;
		z-index: 100;
		visibility: hidden;
  		animation-fill-mode: forwards;

  		@include at-break($break--base) {
  			font-size: 5rem;
  		}


		@include at-break($break--small) {
			font-size: 7rem;
		}


		&--accent {
			color: $cSalmon;
		}

		sup {
			font-size: 1rem;
			top: -2rem;
			letter-spacing: 0;

			@include at-break($break--base) {
				top: -3rem;
			}

			@include at-break($break--small) {
				top: -4.5rem;
			}
		}
	}
}


// Shape animations
@keyframes diamondAnimate {
  0% {
    transform: translate(-50%, -42%) rotate(45deg);
    height: 0rem;
    width: 0rem;
  }
  100% {
    transform: translate(-50%, -42%) rotate(45deg);
    height: 8.125rem;
    width: 8.125rem;
  }
}

@keyframes rectangleBottomAnimate {
  0% {
	transform: translate(200%, 120%) rotate(0deg);
	opacity: 0;
	width: 0;
  }
  50% {
  	opacity: 0;
  }
  100% {
	transform: translate(88%, -12%) rotate(-45deg);
	opacity: 1;

  }
}


@keyframes rectangleTopAnimate {
  0% {
	transform: translate(-400%, -160%) rotate(0deg);
	opacity: 0;
	width: 0;
  }
  50% {
  	opacity: 0;
  }
  100% {
	transform: translate(-180%, -84%) rotate(-45deg);
	opacity: 1;
  }
}

@keyframes lineleftAnimate {
	0% {
		left:-10%;
		opacity: 0;
	  }
	50% {
		opacity: 1;
	}  
	100% {
		left:10%;
	  }
}

@keyframes linerightAnimate {
	0% {
		right: -10%;
		opacity: 0;
	}
	50% {
		opacity: 1;
	}  
	100% {
		right: 10%;
	}
}

@keyframes positionDiamondAnimate {
  0% {
	transform: translate(-220%, -90%) rotate(45deg);
    border-color: $cBlush $cBlush #C22D40 #C22D40;
  }

  16% {
    border-color: #C22D40 #C22D40 $cBlush $cBlush;
  }

  33% {
    border-color: $cBlush $cBlush #C22D40 #C22D40;
  }

  50% {
    border-color: #C22D40 #C22D40 $cBlush $cBlush;
  }

  66% {
    border-color: $cBlush $cBlush #C22D40 #C22D40;
  }  

  82% {
    border-color: #C22D40 #C22D40 $cBlush $cBlush;
  }

  100% {
	transform: translate(-220%, -90%) rotate(45deg);
    border-color: $cBlush $cBlush #C22D40 #C22D40;
  }
}


@keyframes contactDiamondAnimate {
  0% {
	transform: translate(-110%, 25%) rotate(45deg);
    border-color: $cRiverDark $cRiverDark #322F73 #322F73;
  }

  16% {
    border-color: #322F73 #322F73 $cRiverDark $cRiverDark;
  }

  33% {
    border-color: $cRiverDark $cRiverDark #322F73 #322F73;
  }

  50% {
    border-color: #322F73 #322F73 $cRiverDark $cRiverDark;
  }

  66% {
    border-color: $cRiverDark $cRiverDark #322F73 #322F73;
  }  

  82% {
    border-color: #322F73 #322F73 $cRiverDark $cRiverDark;
  }

  100% {
	transform: translate(-110%, 25%) rotate(45deg);
    border-color: $cRiverDark $cRiverDark #322F73 #322F73;
  }
}


@keyframes contactDiamondAnimate2 {
  0% {
	transform: translate(10%, 25%) rotate(45deg);
    border-color: #93C8D9 #93C8D9 $cFountain $cFountain;
  }

  16% {
    border-color: $cFountain $cFountain #93C8D9 #93C8D9;
  }

  33% {
    border-color: #93C8D9 #93C8D9 $cFountain $cFountain;
  }

  50% {
    border-color: $cFountain $cFountain #93C8D9 #93C8D9;
  }

  66% {
    border-color: #93C8D9 #93C8D9 $cFountain $cFountain;
  }  

  82% {
    border-color: $cFountain $cFountain #93C8D9 #93C8D9;
  }

  100% {
	transform: translate(10%, 25%) rotate(45deg);
    border-color: #93C8D9 #93C8D9 $cFountain $cFountain;
  }
}




@keyframes bioDiamondAnimate {
  0% {
	transform: translate(60%, -50%) rotate(45deg);
    border-color: #fff #fff #E5E7EB #E5E7EB;
  }

  16% {
    border-color: #E5E7EB #E5E7EB #fff #fff;
  }

  33% {
    border-color: #fff #fff #E5E7EB #E5E7EB;
  }

  50% {
    border-color: #E5E7EB #E5E7EB #fff #fff;
  }

  66% {
    border-color: #fff #fff #E5E7EB #E5E7EB;
  }  

  82% {
    border-color: #E5E7EB #E5E7EB #fff #fff;
  }

  100% {
	transform: translate(60%, -50%) rotate(45deg);
    border-color: #fff #fff #E5E7EB #E5E7EB;
  }
}



.shape {
	position: absolute;
	z-index: 1;

	&--diamond {
		background-color: $cRiver;
		height: 8.125rem;
		width: 8.125rem;
		top: 50%;
		left: 50%;
		animation: 2s ease-in-out 0.5s 1 diamondAnimate;
		transform: translate(-50%, -42%) rotate(45deg);
		z-index: 2;
	}

	&--rectanglebottom {
		background-color: $cFountain;
		height: 40rem;
		width: 8.25rem;
		top: 50%;
		left: 50%;
		animation: 2s ease-in-out 0s 1 rectangleBottomAnimate;
		transform: translate(88%, -12%) rotate(-45deg);
		z-index: 1;
	}

	&--rectangletop {
		background-color: $cRhino;
		height: 40rem;
		width: 8.25rem;
		top: 50%;
		left: 50%;
		animation: 2s ease-in-out 0s 1 rectangleTopAnimate;
		transform: translate(-180%, -84%) rotate(-45deg);
		z-index: 1;
	}

	&--lineleft {
		display: none;
		background-color: $cRhino;
		height: 100rem;
		width: 1.125rem;
		top: -80%;
		left: 10%;
		animation: 3s ease-out 0s 1 lineleftAnimate;
		transform: rotate(-45deg);

		@include at-break($break--small) {
			display: block;
		}
	}

	&--lineright {
		display: none;
		background-color: $cFountain;
		height: 100rem;
		width: 1.125rem;
		top: -120%;
		right: 10%;
		animation: 3s ease-out 0s 1 linerightAnimate;		
		transform: rotate(-45deg);

		@include at-break($break--small) {
			display: block;
		}
	}


	&--position-diamond {
		border-width: 80px;
		border-style: solid;
		animation: 15s ease-in-out 0s infinite positionDiamondAnimate;
		border-color: $cBlush $cBlush #C22D40 #C22D40;
		top: 50%;
		left: 50%;
		transform: translate(-220%, -90%) rotate(45deg);
		z-index: 0;
	}


	&--contact-diamond {
		border-width: 200px;
		border-style: solid;
		animation: 15s ease-in-out 0s infinite contactDiamondAnimate;
		border-color: $cBlush transparent transparent #C22D40;
		top: 50%;
		left: 50%;
		transform: translate(-110%, 25%) rotate(45deg);
		z-index: 0;
	}


	&--contact-diamond-2 {
		border-width: 200px;
		border-style: solid;
		animation: 15s ease-in-out 0s infinite contactDiamondAnimate2;
		border-color: $cBlush transparent transparent #C22D40;
		top: 50%;
		left: 50%;
		transform: translate(10%, 25%) rotate(45deg);
		z-index: 0;
	}

	&--bio-diamond {
		border-width: 120px;
		border-style: solid;
		animation: 10s ease-in-out 0s infinite bioDiamondAnimate;
		border-color: $cBlush $cBlush #C22D40 #C22D40;
		top: 50%;
		left: 50%;
		z-index: 0;
	}

	&--bio-rectangle {
		background-color: #fff;
		height: 40rem;
		width: 5rem;
		top: 30%;
		right: 0;
		transform: translate(88%, -12%) rotate(45deg);
		z-index: 0;
	}

	&--position-rectangle {
		background-color: $cBlush;
		height: 40rem;
		width: 7rem;
		top: 30%;
		right: 18%;
		transform: translate(88%, -12%) rotate(45deg);
		z-index: 0;
	}	
}


// ABOUT
// ABOUT
// ABOUT
// ABOUT
// ABOUT


.about {
	max-width: 100rem;
	margin: 0 auto;

	&__row {
		display: flex;
		flex-direction: column;

		@include at-break($break--medium) {
			flex-direction: row;
		}
	}
	&__column {
		padding: 1.5rem 1.5rem;
		width: 100%;
		position: relative;
		overflow: hidden;

		@include at-break($break--base) {
			padding: 2rem 2rem;	
		}

		@include at-break($break--small) {
			padding: 3.25rem 2rem;
		}

		@include at-break($break--medium) {
			padding: 5rem 2rem;
			width: 50%;
			min-height: 28rem;
		}
		
		&--position {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: $cSalmon;
			color: #fff;

			.about__position {
				font-size: 1.875rem;
				letter-spacing: -0.1rem;
				max-width: 30rem;
				line-height: 1.2;
				z-index: 1;

				@include at-break($break--base) {
					font-size: 2rem;
				}

				@include at-break($break--small) {
					font-size: 2.625rem;
				}
			}
		}

		&--bio {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: $cPaper;
			color: $cRiver;
			flex-direction: column;
			& > * + * {
				margin-top: 1rem;
			}


			.about__bio {
				font-size: 1.5rem;
				letter-spacing: -0.1rem;
				max-width: 30rem;
				line-height: 1.35;
				z-index: 1;

				@include at-break($break--small) {
					font-size: 1.75rem;
				}

			}

			.about__paragraph {
				font-size: 1.5rem;
				letter-spacing: -0.1rem;
				max-width: 30rem;
				line-height: 1.35;
				z-index: 1;

				@include at-break($break--small) {
					font-size: 1.75rem;
				}
			}
		}
	}
}



// WORK
// WORK
// WORK
// WORK
// WORK


.work {
	max-width: 100rem;
	margin: 0 auto;

	&__row {
		display: flex;
		flex-direction: column;

		@include at-break($break--medium) {
			display: flex;
			flex-direction: row;
		}

	}

	&__row:nth-child(even) {
		.meta {
			background-color: #fff;
		}
	}

	&__column {
		&:first-child {
			flex-shrink: 0;
			order: 2;

			@include at-break($break--medium) {
				order: 1;
				width: 30rem;
			}
		}

		&:last-child {
			flex: 1;
			order: 1;

			@include at-break($break--medium) {
				order: 2;
			}

		}
		.artwork {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}


	&__row--feature {
		.work__column:first-child {
			@include at-break($break--medium) {
				width: 30rem;
			}
		}
	}
}


.meta {
	background-color: #F4F5F7;
	padding: 1.5rem;

	@include at-break($break--base) {
		padding: 3.125rem;
	}

	&__title {
		font-size: 1.75rem;
		letter-spacing: -0.04em;
	}

	&__role {
		color: $cSalmon;
	}

	&__list-item + &__list-item {
		margin-top: 0.45rem;
	}
	&__group + &__group {
		margin-top: 1.5rem;
		
		@include at-break($break--base) {
			margin-top: 2.375rem;
		}
	}

	&__label {
		width: 4rem;
		flex-shrink: 0;
	}

	&__description {
		font-size: 1rem;
		font-weight: 300;
		line-height: 1.4rem;

		& p + p {
			margin-top: 1rem;
		}
	}

	.side-by-side {
		display: flex;

		& > * + * {
			margin-left: 1rem;
		}
	}
}

.meta-heading {
	& > * + * {
		margin-top: 0.25rem;
	}
}

.button {
	display: inline-block;
	padding: 0.75rem 1rem;
	background-color: transparent;
	color: $cRhino;
	font-weight: bold;
	font-size: 0.75rem;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	border: 2px solid $cRhino;

	&:hover {
		color: #fff;
		background-color: $cSalmon;
		border: 2px solid $cSalmon;
	}

	&--secondary {
		color: #fff;
		border: 2px solid #fff;

		&:hover {
			color: $cRiverDark;
			background-color: $cPaper;
			border: 2px solid $cPaper;
		}
	}
}

.empty {
	display: none;

	@include at-break($break--medium) {
		display: block;
	}
}



// CONTACT
// CONTACT
// CONTACT
// CONTACT
// CONTACT

.contact {
	background-color: $cRiver;
	height:19rem;
	position: relative;
	overflow: hidden;

	&__email {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		z-index: 3;

		& > * + * {
			margin-top: 1rem;
		}
	}
	&__email-label {
		color: #fff;
		font-size: 1.75rem;
	}
}

.parallax-diamond {
	position: absolute;
	width: 20rem;
	height: 20rem;
	background-color: $cBlush;
	top: 50%;
	left: 50%;
	z-index: 2;
	transform: translate(-50%, -50%) rotate(45deg);
}

.parallax-diamond-2 {
	position: absolute;
	width: 7rem;
	height: 7rem;
	background-color: $cSalmon;
	top: 50%;
	left: 50%;
	z-index: 2;
	transform: translate(-50%, -50%) rotate(45deg);
}


// OTHER WORK

.other-work {
	background-color: $cPaper;
	color: #fff;
	height: 9rem;
	z-index: 200;
	position: relative;
	background-color: $cRiverDark;
	position: relative;

	@include at-break($break--small) {
		height: 12rem;
	}
}

.social {
	display: flex;
	align-items: center;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);

	& > * + * {
		margin-left: 1rem;
		@include at-break($break--small) {
			margin-left: 1.5rem;
		}
	}
	&__label {
		font-size: 1rem;
		flex-shrink: 0;
			@include at-break($break--small) {
				font-size: 1.5rem;
			}

	}
	&__list {
		display: flex;

		& > * + * {
			margin-left: 0.5rem;

			@include at-break($break--small) {
				margin-left: 1rem;
			}
		}
	}

	&__list-item {
		display: flex;
	}

	svg {
		width: 20px;
		height: 20px;
	}

	@include at-break($break--small) {
		svg {
			width:100%;
			height:100%;
		}
	}

}

.copyright {
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0%);
	margin-bottom: 1rem;
	font-size: .75rem;
	color: $cFountain;
	font-weight: bold;
	white-space: nowrap;
}



//SVG Overlay

.overlay-svg {
	position: absolute; 
	left: 999em; 
	top: 999em;
}


.work {

	&__column {
		position: relative;


		.artwork-link:before {
			transition: opacity 0.25s ease;
			opacity: 0;
			left: 0;
		    right: 0;
		    top: 0;
		    bottom: 0;
		    z-index: 2;
		    background-color: rgba(0, 0, 0, 0.5);
		    display: block;
		    content: "";
		    position: absolute;
		}

		.artwork-link:hover:before {
			opacity: 1;
		}

		.artwork-link:hover .overlay-svg {
			position: absolute; 
			width: 2rem;
			display: block;
			z-index: 2;
			fill: white;
			opacity: 1;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);	
		}
	}
}

.overlay-svg {
	transition: opacity 0.25s ease;
	opacity: 0;
}


// Video
.video-wrapper {
	padding-bottom: 75.11%;
	height: 0;
}

.video {
	object-fit: cover;
	position: absolute;
	width: 100%;
	height: 100%;
 }
